body{
	
	background-color: black;
	
}


h1{
	color: red;
    text-align: center;
}



form {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}	

img {
	margin-right: auto;
	margin-left: auto;
	display:block;
}

.instructions {
	
	color: red;
    text-align: center;
}




.nameBlock {
    margin-right: auto;
	margin-left: auto;
	display:block;
    }

.title {
    font-weight: bold;
    color: blue;
    }

input {
    border: 1px solid gray;
    font-size: 1.1em;
    }
