body{
	
	background-color: black;
	
}


h1{
	color: red;
    text-align: center;
}



form {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}	

img {
	margin-right: auto;
	margin-left: auto;
	display:block;
}

.instructions {
	
	color: red;
    text-align: center;
}





